@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url("_Xmq-H86tzKDdAPa-KPQZ-AC1i-0sg.eot")/*tpa=https://fonts.gstatic.com/s/overpassmono/v5/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0sg.eot*/;
}
